body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    width: 80%;
    margin-top: 20px;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: aqua;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    flex: 2;
    padding: 20px;
    background-color: #185f6b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

#films {
    list-style-type: none;
    padding: 0;
}

.film {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.film:hover {
    background-color: rgb(27, 190, 196);
}

.sold-out {
    color: red;
}

button {
    padding: 10px;
    background-color: #2ef114;
    color: rgb(17, 161, 149);
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:disabled {
    background-color: #6c757d;
}